@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    padding-bottom: 3rem;
}

.score-element{
    font-size: 15px;
    font-family: "Montserrat",sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 1rem;
}
.button-wrapper span{
    color: #777;
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
}
.stream-button{
    background: #fff;
    color: #777;
    border:none;
    outline:none;
    border-radius: 50%;
    padding:0.5rem 0.7rem;
    margin-top: 10px;
    transition: .56s ease all;
    font-family: "Lato",sans-serif;
    border: 2px solid #777;
    margin-bottom: 20px;
    font-size: 10px;
    margin-left: 10px;

}
.stream-button:hover{
    background: #777;
    border: 2px solid #777;
    color: #fff;
    cursor: pointer;
}
.main-title{
    animation: animate 3s ease;
    margin-left: 2rem;
    margin-top: 1rem;
}
.main-title h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: "900";
    margin: 0;
    padding:0;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 0.5rem;
}

.main-title .lead{
    color: #999;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;
    max-width: 600px;
    line-height: 1.9em;
}
*{
    box-sizing: border-box;
}

.tweet-container{
    display:flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
}
.tweet-wrapper{
    background: #f9f9f9;
    border-radius: 6px;
    padding:1rem;
    margin-top: 2rem;
    width: 60%;
    animation-name: animate;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    font-size: 13px;
    position: relative;

}

.tweet-name{
    color: #38A1F3;
    margin: 0;
    border-radius: 9%;
    background: #f0f0f0;
    padding: 10px;
    margin-right: 10px;
}
.tweet-profile-picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.tweet-name-date-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;

}
.tweet-text{
    max-width: 500px;
    line-height: 1.9em;
    margin-top: 30px;
}
.tweet-semantic-value{
    padding: 6px 10px 6px 10px;
    border-radius: 40px;
    background: #ffffff;
    position: absolute;
    top: -1.7rem;
    right: 0;
    font-size: 25px;
    box-shadow: 0 16px 30px rgba(24,29,39,.05), 0 20px 30px rgba(24,29,39,.05), 0 5px 10px rgba(24,29,39,.05);
    margin-bottom: 20px;


}

.tweet-text-profile-wrapper{
    display: flex;
    align-items: center;
}


@keyframes animate {
    from{opacity: 0; transform:translateY(-20px)}
    to{opacity: 1; transform: translateY(0px)}
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 6em;
  height: 6em;
}
.loader {
    margin: 60px auto;
    font-size: 6px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.4em solid rgba(95,95,95, 0.2);
    border-right: 0.4em solid rgba(95,95,95, 0.2);
    border-bottom: 0.4em solid rgba(95,95,95, 0.2);
    border-left: 0.4em solid #5f5f5f;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite ease-in-out;
    animation: load8 1.1s infinite ease-in-out;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
